.dashboard{
    font-family: $font-family, sans-serif, serif;
    display: flex;
    height: 90vh;

    section{
    margin-top: 2rem;
    }


    main{
        height: 100%;
        background-color: $black-2;
        border-top-left-radius: 40px;
        margin-left: auto;
        flex: 6;
        padding: 2rem;

        header{
            display: flex;
            justify-content: space-between;

            nav{
            font-size: 1.15rem;
            display: flex;

            i{
                margin-left: 1rem;
                font-size: 1.5rem;
            }

            span{
                cursor: pointer;
                &:first-child{
                    margin-right: .5rem;
                    padding-right: .5rem;
                    border-right: 1px solid $white-2;
                }
            }

            }

            .search{
                color: $white;

                input{
                    border-bottom: 1px solid $white;
                    margin-left: .5rem;
                    font-size: 1.25rem;
                    color: $white;
                    background-color: inherit;
                    width: 10rem;
                    transition: .2s all;
                    padding-bottom: .25rem;

                    &:focus{
                        width: 15rem;

                    }

                }
            }
        }
    }

    aside{
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        color: $white;


        a{
            font-size: 1.25rem;
            margin: .25rem 0;
            padding: .5rem 0;
            width: 100%;
            padding-left: 2rem;


            &:hover{
                background-color: $black-3;
            }


        }


        button{
            font-size: 1.25rem;
            background-color: inherit;
            color: $white;
            width: 100%;
            padding: .5rem 0;
            margin-top: auto;

            &:hover{
                background-color: $black-3;
            }
        }
        
    }

}

.board-tile{
        background-color:$black; 
        min-height: 2rem;
        margin: 1rem 0;
        color: $white;
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        border-radius: 10px;
        
}

