.dashboard{
    font-family: $font-family, sans-serif, serif;
    display: flex;
    height: 90vh;


    main{
        height: 100%;
        background-color: $black-2;
        border-top-left-radius: 40px;
        margin-left: auto;
        flex: 6;
        padding: 2rem;

        header{

            .search{
                color: $black;

                input{
                    border-bottom: 1px solid $black;
                    margin-left: .5rem;
                    font-size: 1.25rem;
                    color: $black;
                    background-color: inherit;
                    width: 10rem;
                    transition: .2s all;

                    &:focus{
                        width: 15rem;

                    }

                }
            }
        }
    }

    aside{
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        color: $white;


        a{
            font-size: 1.25rem;
            margin: .25rem 0;
            padding: .5rem 0;
            width: 100%;
            padding-left: 2rem;


            &:hover{
                background-color: $black-3;
            }


        }


        button{
            font-size: 1.25rem;
            background-color: inherit;
            color: $white;
            width: 100%;
            padding: .5rem 0;
            margin-top: auto;

            &:hover{
                background-color: $black-3;
            }
        }
        
    }

}

.board-tile{
        background-color:$white-2; 
        min-height: 2rem;
        margin: 1rem 0;
        border-top-left-radius: 15px;
        color: $black-2;
        display: flex;
        align-items: center;
        padding: 1rem;
        
}